# PIP installs

In [2]:
!pip install rasterio
!pip install geopandas
!pip install rioxarray
!pip install geojson
!pip install shapely
!pip install tqdm

Collecting rasterio
  Downloading rasterio-1.2.9-cp37-cp37m-manylinux1_x86_64.whl (19.3 MB)
     |████████████████████████████████| 19.3 MB 1.3 MB/s
Collecting click-plugins
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from rasterio) (2021.5.30)
Requirement already satisfied: attrs in /usr/local/lib/python3.7/dist-packages (from rasterio) (21.2.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from rasterio) (7.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from rasterio) (57.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from rasterio) (1.19.5)
Collecting affine
  Downloading affine-2.3.0-py2.py3-none-any.whl (15 kB)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Collecting snuggs>=1.4.1
  Downloading snuggs-1.4.7-py3-none-any.whl (5.4 kB)
Requirement already satisfied: pyparsing>=2.1.6 in /usr/local/lib/python3.7/dist-packages (from snuggs>=1.4.1->rasterio) (2.4.7)
Installing collected packages: snuggs, cligj, click-plugins, affine, rasterio
Successfully installed affine-2.3.0 click-plugins-1.1.1 cligj-0.7.2 rasterio-1.2.9 snuggs-1.4.7
Collecting geopandas
  Downloading geopandas-0.9.0-py2.py3-none-any.whl (994 kB)
     |████████████████████████████████| 994 kB 7.6 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 22.2 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.20-cp37-cp37m-manylinux1_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 39 kB/s
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.5.30)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Installing collected packages: munch, pyproj, fiona, geopandas
Successfully installed fiona-1.8.20 geopandas-0.9.0 munch-2.5.0 pyproj-3.2.1
Collecting rioxarray
  Downloading rioxarray-0.7.1.tar.gz (46 kB)
     |████████████████████████████████| 46 kB 2.9 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: pyproj>=2.2 in /usr/local/lib/python3.7/dist-packages (from rioxarray) (3.2.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from rioxarray) (21.0)
Requirement already satisfied: rasterio in /usr/local/lib/python3.7/dist-packages (from rioxarray) (1.2.9)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from rioxarray) (1.4.1)
Requirement already satisfied: xarray>=0.17 in /usr/local/lib/python3.7/dist-packages (from rioxarray) (0.18.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from pyproj>=2.2->rioxarray) (2021.5.30)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from xarray>=0.17->rioxarray) (1.19.5)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from xarray>=0.17->rioxarray) (1.1.5)
Requirement already satisfied: setuptools>=40.4 in /usr/local/lib/python3.7/dist-packages (from xarray>=0.17->rioxarray) (57.4.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->xarray>=0.17->rioxarray) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->xarray>=0.17->rioxarray) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->xarray>=0.17->rioxarray) (1.15.0)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->rioxarray) (2.4.7)
Requirement already satisfied: snuggs>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from rasterio->rioxarray) (1.4.7)
Requirement already satisfied: affine in /usr/local/lib/python3.7/dist-packages (from rasterio->rioxarray) (2.3.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from rasterio->rioxarray) (0.7.2)
Requirement already satisfied: click-plugins in /usr/local/lib/python3.7/dist-packages (from rasterio->rioxarray) (1.1.1)
Requirement already satisfied: attrs in /usr/local/lib/python3.7/dist-packages (from rasterio->rioxarray) (21.2.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from rasterio->rioxarray) (7.1.2)
Building wheels for collected packages: rioxarray
  Building wheel for rioxarray (PEP 517) ... done
  Created wheel for rioxarray: filename=rioxarray-0.7.1-py3-none-any.whl size=54118 sha256=83e527c08830b6b5dfd2bc3167559136274b594bf866827d0dd26dfd1281c190
  Stored in directory: /root/.cache/pip/wheels/42/9b/1c/acf2904f7ee44be3c0b8ffc7ea4fafebb135aee00242bef86f
Successfully built rioxarray
Installing collected packages: rioxarray
Successfully installed rioxarray-0.7.1
Collecting geojson
  Downloading geojson-2.5.0-py2.py3-none-any.whl (14 kB)
Installing collected packages: geojson
Successfully installed geojson-2.5.0
Requirement already satisfied: shapely in /usr/local/lib/python3.7/dist-packages (1.7.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (4.62.3)

In [3]:
!pip install tqdm

Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (4.62.3)

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

# Imports

In [34]:
import rioxarray
import geopandas as gpd
import pyproj
from shapely.geometry.point import Point
from shapely.geometry.polygon import Polygon
import geojson
import tqdm
import pandas as pd

# File paths

In [35]:
tif_file = '/content/drive/MyDrive/spacehackathon/GHS_POP_E2015_GLOBE_R2019A_54009_250_V1_0_22_5.tif'
parquet_file_path = '/content/drive/MyDrive/spacehackathon/data_coordinates.gzip'
districts_data_path = '/content/drive/MyDrive/spacehackathon/districts.geojson'
dammam_districts_data_path = 'dammam_districts.geojson'
dammam_districts_population_data_path = "dammam_districts_populations.json"

# Importing datasets

In [36]:
dmm_districts_df = gpd.read_file(dammam_districts_data_path)

In [37]:
dmm_districts_df

    district_id  ...                                           geometry
0   10500013001  ...  POLYGON ((50.13178 26.42027, 50.13176 26.42027...
1   10500013002  ...  POLYGON ((50.13004 26.42473, 50.12938 26.42498...
2   10500013003  ...  POLYGON ((50.15106 26.39182, 50.15116 26.39219...
3   10500013004  ...  POLYGON ((50.21842 26.41224, 50.22039 26.41322...
4   10500013005  ...  POLYGON ((50.06185 26.42225, 50.06214 26.42241...
..          ...  ...                                                ...
78  10500013080  ...  POLYGON ((49.95704 26.33672, 49.95705 26.33663...
79  10500013081  ...  POLYGON ((49.94447 26.50012, 49.94420 26.50027...
80  10500013082  ...  POLYGON ((50.09052 26.37495, 50.08177 26.38848...
81  10500013083  ...  POLYGON ((50.01507 25.91677, 50.00782 25.93476...
82  10500013084  ...  POLYGON ((49.84018 25.99623, 49.83087 25.95415...

[83 rows x 6 columns]

# Helper methods

Writing dataframe to desk to avoid re-computation when kernel dies.

# Districts Coordinates

Narrow down dataset to Dammam

# Filtering to Dammam

In [38]:
import pandas as pd
api_df = pd.DataFrame()

In [39]:
import numpy as np
api_df['district_id'] = np.nan
api_df['population_density'] = np.nan
api_df['connectivity'] = np.nan
api_df['services'] = np.nan

In [40]:
api_df

Empty DataFrame
Columns: [district_id, population_density, connectivity, services]
Index: []

In [41]:
pop_df = pd.read_json(dammam_districts_population_data_path)

In [42]:
pop_df

    district_id  population
0   10500013001       40247
1   10500013002       18579
2   10500013003       16426
3   10500013004        2513
4   10500013005       22234
..          ...         ...
78  10500013080        4318
79  10500013081          48
80  10500013082       27080
81  10500013083          51
82  10500013084           0

[83 rows x 2 columns]

In [43]:
pop_df.describe()

        district_id    population
count  8.300000e+01     83.000000
mean   1.050001e+10  17812.084337
std    2.438950e+01  14535.207265
min    1.050001e+10      0.000000
25%    1.050001e+10   5969.000000
50%    1.050001e+10  14266.000000
75%    1.050001e+10  26812.500000
max    1.050001e+10  59380.000000

In [44]:
dmm_districts_df["area_km"] = dmm_districts_df['geometry'].to_crs({'init': 'epsg:3395'}).map(lambda p: p.area / 10**6)

/usr/local/lib/python3.7/dist-packages/pyproj/crs/crs.py:131: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

In [45]:
dmm_districts_df

    district_id  ...    area_km
0   10500013001  ...   7.844822
1   10500013002  ...   1.625616
2   10500013003  ...   4.610420
3   10500013004  ...   5.122655
4   10500013005  ...   2.854831
..          ...  ...        ...
78  10500013080  ...   5.950598
79  10500013081  ...   7.838438
80  10500013082  ...   5.025529
81  10500013083  ...  72.769348
82  10500013084  ...  61.396526

[83 rows x 7 columns]

In [46]:
pop_aread_df = pop_df.join(dmm_districts_df.set_index('district_id'), on='district_id')

In [47]:
pop_aread_df

    district_id  ...    area_km
0   10500013001  ...   7.844822
1   10500013002  ...   1.625616
2   10500013003  ...   4.610420
3   10500013004  ...   5.122655
4   10500013005  ...   2.854831
..          ...  ...        ...
78  10500013080  ...   5.950598
79  10500013081  ...   7.838438
80  10500013082  ...   5.025529
81  10500013083  ...  72.769348
82  10500013084  ...  61.396526

[83 rows x 8 columns]

In [48]:
pop_aread_df['pop_density'] = pop_aread_df['population'] / pop_aread_df['area_km']

In [49]:
pop_area_df = pop_aread_df

In [50]:
pop_area_df

    district_id  population  ...    area_km   pop_density
0   10500013001       40247  ...   7.844822   5130.390542
1   10500013002       18579  ...   1.625616  11428.900708
2   10500013003       16426  ...   4.610420   3562.799396
3   10500013004        2513  ...   5.122655    490.565945
4   10500013005       22234  ...   2.854831   7788.201555
..          ...         ...  ...        ...           ...
78  10500013080        4318  ...   5.950598    725.641404
79  10500013081          48  ...   7.838438      6.123669
80  10500013082       27080  ...   5.025529   5388.487575
81  10500013083          51  ...  72.769348      0.700845
82  10500013084           0  ...  61.396526      0.000000

[83 rows x 9 columns]

In [55]:
pop_area_df['pop_density_index'] = ((pop_area_df['pop_density']-pop_area_df['pop_density'].min())/(pop_area_df['pop_density'].max() - pop_area_df['pop_density'].min())) * 100

In [56]:
pop_area_df

    district_id  population  ...  pop_density_normalized  pop_density_index
0   10500013001       40247  ...               32.658798          32.658798
1   10500013002       18579  ...               72.753557          72.753557
2   10500013003       16426  ...               22.679900          22.679900
3   10500013004        2513  ...                3.122822           3.122822
4   10500013005       22234  ...               49.577766          49.577766
..          ...         ...  ...                     ...                ...
78  10500013080        4318  ...                4.619254           4.619254
79  10500013081          48  ...                0.038982           0.038982
80  10500013082       27080  ...               34.301780          34.301780
81  10500013083          51  ...                0.004461           0.004461
82  10500013084           0  ...                0.000000           0.000000

[83 rows x 11 columns]

----------------------------------

TODO:


1.   Fetch remaining JSON Data (internet coverage, hospitals, mosques, schools, phrarmacies, etc.)
2.   {Normalize} them (range 0-100)
3. Add together in single df, then save as json with columns {district_id, name_en, name_ar, geometry, pop_den_index, fast_internet_index, cellular_coverage_index, public_services_index, electricity_index, water_index}
4. Integrate with front-end

* fast internet = fiber + 5g
* ceullar = 2g, 3g, 4g

In [68]:
# Read JSONs
dmm_hos_df = pd.read_json('dammam_hospitals_per_district.json')
dmm_mos_df = pd.read_json('dammam_mosques_per_district.json')
dmm_pha_df = pd.read_json('dammam_pharmacies_per_district.json')
dmm_sch_df = pd.read_json('dammam_schools_per_district.json')
fiber_df = pd.read_json('fiber_coverage_per_district.json')
mobily_df = pd.read_json('mobily_cellular_coverage_district.json')
zain_df = pd.read_json('zain_5g_district_coverage.json')
aqar_df = pd.read_json('districts_with_aqar_ratings.json')
dmm_dist_df = gpd.read_file('dammam_districts.geojson')

In [69]:
indicators_df = dmm_dist_df[['district_id','name_en','name_ar','geometry']].copy()
# Public Services Indicator prework
dmm_hos_df = dmm_hos_df.rename(columns = {'count':'count_hos'})
dmm_mos_df = dmm_mos_df.rename(columns = {'number_of_mosques':'count_mos'})
dmm_pha_df = dmm_pha_df.rename(columns = {'count':'count_pha'})
dmm_sch_df = dmm_sch_df.rename(columns = {'count':'count_sch'})
# mobily_df_cellular = mobily_df[(mobily_df['coverage_type'] == '2g') | (mobily_df['coverage_type'] == '3g') | (mobily_df['coverage_type'] == '4g')]
mobily_df_fast = mobily_df[(mobily_df['coverage_type'] == '5g')]
mobily_df_fast['coverage_normalized_mobily'] = ((mobily_df_fast['coverage']-mobily_df_fast['coverage'].min())/(mobily_df_fast['coverage'].max() - mobily_df_fast['coverage'].min())) * 100
del mobily_df_fast['coverage']
del mobily_df_fast['coverage_type']
fiber_df['coverage_normalized_fiber'] = ((fiber_df['coverage']-fiber_df['coverage'].min())/(fiber_df['coverage'].max() - fiber_df['coverage'].min())) * 100
del fiber_df['coverage']
zain_df['coverage_normalized_zain'] = ((zain_df['coverage']-zain_df['coverage'].min())/(zain_df['coverage'].max() - zain_df['coverage'].min())) * 100
del zain_df['coverage']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [70]:
# Fast Internet Indicator
fast_internet_df = pd.DataFrame()
#fast_internet_df = zain_df.join(fiber_df.set_index('district_id'), on='district_id')
fast_internet_df = zain_df.merge(mobily_df_fast,on='district_id').merge(fiber_df,on='district_id')
fast_internet_df = fast_internet_df.fillna(0)
fast_internet_df['fast_internet'] = fast_internet_df['coverage_normalized_fiber']*0.5 + fast_internet_df['coverage_normalized_mobily']*0.25 + fast_internet_df['coverage_normalized_zain']*0.25
fast_internet_df['fast_internet_index'] = ((fast_internet_df['fast_internet']-fast_internet_df['fast_internet'].min())/(fast_internet_df['fast_internet'].max() - fast_internet_df['fast_internet'].min())) * 100
del fast_internet_df['coverage_normalized_zain']
del fast_internet_df['coverage_normalized_mobily']
del fast_internet_df['coverage_normalized_fiber']
del fast_internet_df['fast_internet']
fast_internet_df

     district_id  fast_internet_index
0    10100003001            59.606195
1    10100003002            51.542269
2    10100003003            25.729284
3    10100003004            23.379980
4    10100003006            30.398129
..           ...                  ...
874  11302237028            27.426414
875  11302237032            44.446484
876  11302237054            26.708799
877  11302237055            23.195594
878  11302237060            40.208779

[879 rows x 2 columns]

In [71]:
indicators_df = indicators_df.merge(fast_internet_df, on='district_id', how='left')
indicators_df = indicators_df.fillna(0)
indicators_df

    district_id  ... fast_internet_index
0   10500013001  ...            0.000000
1   10500013002  ...           65.747931
2   10500013003  ...           22.951775
3   10500013004  ...            0.000000
4   10500013005  ...           46.333395
..          ...  ...                 ...
78  10500013080  ...            0.000000
79  10500013081  ...            0.000000
80  10500013082  ...           53.250593
81  10500013083  ...            0.000000
82  10500013084  ...            0.000000

[83 rows x 5 columns]

In [72]:
# Infras.. Indicator
# infrastructure_df = aqar_df[['district_id']].copy()
infrastructure_df = dmm_dist_df[['district_id']]
infrastructure_df['infrastructure_index'] = aqar_df['aqar_electricity_water_rate'] * 20 * 0.6 + aqar_df['aqar_streets_rate'] * 20 * 0.4
infrastructure_df
indicators_df = indicators_df.merge(infrastructure_df, on='district_id', how='left')
indicators_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

    district_id  ... infrastructure_index
0   10500013001  ...             67.32596
1   10500013002  ...             76.82796
2   10500013003  ...             62.23996
3   10500013004  ...             58.58400
4   10500013005  ...             59.34204
..          ...  ...                  ...
78  10500013080  ...             76.26300
79  10500013081  ...             85.91300
80  10500013082  ...             80.28100
81  10500013083  ...             80.34796
82  10500013084  ...             85.07296

[83 rows x 6 columns]

In [76]:
# Public Services Indicator
public_services_df = dmm_dist_df[['district_id']]
public_services_df = public_services_df.merge(dmm_hos_df,on='district_id', how='left').merge(dmm_mos_df,on='district_id', how='left').merge(dmm_pha_df,on='district_id', how='left').merge(dmm_sch_df,on='district_id', how='left')
public_services_df = public_services_df.fillna(0)
public_services_df["hospitals_index"] =  100 * public_services_df['count_hos'] / pop_area_df["population"]
public_services_df["hospitals_index"] = ((public_services_df['hospitals_index']-public_services_df['hospitals_index'].min())/(public_services_df['hospitals_index'].max() - public_services_df['hospitals_index'].min())) * 100
public_services_df["pharmacies_index"] =  100 * public_services_df['count_pha'] / pop_area_df["population"]
public_services_df["pharmacies_index"] = ((public_services_df['pharmacies_index']-public_services_df['pharmacies_index'].min())/(public_services_df['pharmacies_index'].max() - public_services_df['pharmacies_index'].min())) * 100

public_services_df["mosques_index"] =  100 * public_services_df['count_mos'] / pop_area_df["population"]
public_services_df["mosques_index"] = ((public_services_df['mosques_index']-public_services_df['mosques_index'].min())/(public_services_df['mosques_index'].max() - public_services_df['mosques_index'].min())) * 100
public_services_df["schools_index"] =  100 * public_services_df['count_sch'] / pop_area_df["population"]
public_services_df["schools_index"] = ((public_services_df['schools_index']-public_services_df['schools_index'].min())/(public_services_df['schools_index'].max() - public_services_df['schools_index'].min())) * 100

del public_services_df['count_hos']
del public_services_df['count_mos']
del public_services_df['count_pha']
del public_services_df['count_sch']
public_services_df.describe()

        district_id  hospitals_index  ...  mosques_index  schools_index
count  8.300000e+01        82.000000  ...      82.000000      82.000000
mean   1.050001e+10         6.342053  ...      16.586654      13.020970
std    2.438950e+01        14.141943  ...      24.715924      17.048838
min    1.050001e+10         0.000000  ...       0.000000       0.000000
25%    1.050001e+10         0.000000  ...       0.000000       0.000000
50%    1.050001e+10         0.000000  ...       3.407582       6.905326
75%    1.050001e+10         6.700952  ...      25.175277      19.587545
max    1.050001e+10       100.000000  ...     100.000000     100.000000

[8 rows x 5 columns]

In [77]:
indicators_df = indicators_df.merge(public_services_df, on='district_id', how='left')
indicators_df

    district_id  ... schools_index
0   10500013001  ...      0.000000
1   10500013002  ...     10.684875
2   10500013003  ...      0.000000
3   10500013004  ...      0.000000
4   10500013005  ...      0.000000
..          ...  ...           ...
78  10500013080  ...      0.000000
79  10500013081  ...      0.000000
80  10500013082  ...      1.221777
81  10500013083  ...      0.000000
82  10500013084  ...           NaN

[83 rows x 10 columns]

count    82.000000
mean      0.007335
std       0.016357
min       0.000000
25%       0.000000
50%       0.000000
75%       0.007750
max       0.115662
Name: hospitals_index, dtype: float64

In [78]:
pop_area_df = pop_area_df.rename(columns = {'district_ids' : 'district_id', 'pop_density_normalized': 'population_density_index'})
indicators_df = pd.merge(indicators_df,pop_area_df[['district_id','population_density_index']],on='district_id', how='left')
indicators_df = indicators_df.fillna(0)
indicators_df

    district_id  ... population_density_index
0   10500013001  ...                32.658798
1   10500013002  ...                72.753557
2   10500013003  ...                22.679900
3   10500013004  ...                 3.122822
4   10500013005  ...                49.577766
..          ...  ...                      ...
78  10500013080  ...                 4.619254
79  10500013081  ...                 0.038982
80  10500013082  ...                34.301780
81  10500013083  ...                 0.004461
82  10500013084  ...                 0.000000

[83 rows x 11 columns]

In [79]:
indicators_df.to_file('dataframe.geojson', driver='GeoJSON')